h1 {
  color: rgba(0, 200, 100, 0.301);
  border: 8px dashed rgb(255, 100, 80);
}

/* Borders has three parts:
width
color
style */

h4 {
  background: rgb(255, 100, 80);
}

body {
  background: pink;
}