<h1>This is the secret page!</h1>

<p>You found me</p>

<img src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/563120_10150765755821084_826937653_n.jpg?oh=60a29e95e113d6113df376acd8dbd954&oe=5B12309D" alt="">

<li>
  <a href="/register">Sign Up</a>
</li>
<li>
  <a href="/login">Login!</a>
</li>
<li>
  <a href="/logout">Logout!</a>
</li>